<% provide(:title, "Cory Ray") %>
<h1>Hello there</h1>
<p><%= link_to 'My Blog', controller: 'articles' %></p>
<p><%= link_to 'My Resume', controller: 'static_pages',
       action: 'resume' %></p>
<p><%= link_to 'My Portfolio', controller: 'static_pages',
       action: 'portfolio' %></p>